body{
    background-image: url('bg1.png');
    background-size: cover;
    background-color: #89577C;
    /* background-repeat: no-repeat; */
    background-position: center;    
}
h1, h3{
    text-align: center;
    color: #EAE8FF;
}
.gamingArea{
    display: flex;
    justify-content: center;
    /* height: 80vh; */
}
.mainBox{
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    width: min(95vmin, 500px);
    aspect-ratio: 1/1;
    border-radius: 5%;
    
}
.firstRow, .secondRow, .thirdRow{
    display: flex;
    flex-direction: row;
    flex: 1;
}
.nineBox {
    flex: 1;
    border: 1px solid #FFF8E8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15%;
    background-color: #023e8a4D;
    font-size: 6vmin; /* controls icon size */
}
.logo {
    /* font-size: 1em; */
    color: #FFF8E8;
}
.resultArea{
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.restart{
    color: #FFF8E8;
    background-color: #EAE8FF4D;
    border-radius: 10vh;
    border: 2px solid #023e8a4D;
}
#winner{
    color: #EAE8FF;
}
footer{
    text-align: center;
    color: aliceblue;
    background-color: #D6C3AE4D;
    border-radius: 10vh;
}
@media (max-width: 600px) {
    .mainBox {
        width: 95vmin;
    }
    /* .nineBox{
        font-size: 8vw;
    } */
}
